.App {
  min-height: 100vh;
  background-color: #282c34;
  color: white;
  font-size: calc(10px + 2vmin);
  display: flex;
  flex-direction: column;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-link {
  color: #61dafb;
}

.content-container {
  width: 100%;
  display: flex;
}

.summary-container {
  width: 20%;
}

.cards-container {
  width: 80%;
  background-color: grey;
  display: flex;
}

.card {
  background-color: darkgray;
}