/* Base CSS */

.App {
  min-height: 100vh;
  background-color: #282c34;
  color: white;
  font-size: calc(10px + 2vmin);
  display: flex;
  flex-direction: column;
}

.App-header {
  height: 15vh;
}

.App-logo {
  height: 20vh;
  pointer-events: none;
}

.App-link {
  color: #61dafb;
}

.content-container {
  width: 100%;
  height: 85vh;
  display: flex;
}

/* Contains a short hand list of cards */

.summary-container {
  width: 20%;
}

/* Contains the cards */

.cards-container {
  width: 80%;
  height: 100%;
  background-color: grey;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  overflow-y: scroll;
}

/* Card CSS */

.card {
  background-color: darkgray;
  width: 18%;
  height: 30%;
  margin: 1%;
  padding: 1rem;
}

.card > h3 {
  margin: 0;
}

.result-content {
  height: 80%;
  white-space: pre-line;
  overflow-y: scroll;
  font-size: 1.2rem;
}